
@{
   
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
    
        <div class="news-block">
            <div class="col-md-12">
                <h3>ЛУКОЙЛ БУДЕТ ПОСТАВЛЯТЬ МАСЛА ДЛЯ КИТАЙСКОГО АВТОГИГАНТА DONGFENG MOTOR В РОССИИ</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="news-img"></div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12">
                        <p>ПАО «ЛУКОЙЛ» заключило контракт с ООО «Дунфэн Мотор Рус» на сервисную заливку масел и технических жидкостей для легковых автомобилей и микроавтобусов Dongfeng (DFM) в сертифицированных техцентрах в России.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">

    <div class="news-block">
        <div class="col-md-12">
            <h3>ЛУКОЙЛ БУДЕТ ПОСТАВЛЯТЬ МАСЛА ДЛЯ КИТАЙСКОГО АВТОГИГАНТА DONGFENG MOTOR В РОССИИ</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="news-img"></div>
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <p>ПАО «ЛУКОЙЛ» заключило контракт с ООО «Дунфэн Мотор Рус» на сервисную заливку масел и технических жидкостей для легковых автомобилей и микроавтобусов Dongfeng (DFM) в сертифицированных техцентрах в России.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

