@using NewsBlog.Models.ViewModel
@model IndexViewModel
@{
   
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Новостная лента</h1>
    </div>
</div>
@foreach (var article in Model.Articles)
{
    <div class="row">
        <div class="col-md-12">

            <div class="news-block">
                <div class="col-md-12">
                    <h3>@article.Title</h3>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="news-img"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-12">
                            <p>@article.ShortDiscription</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6 .btn-div">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a href="/?page=@(Model.PageViewModel.PageNumber - 1)" class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
    </div>
    <div align="right" class="col-md-6 .btn-div" >
        @if (Model.PageViewModel.HasNextPage)
        {<a href="/?page=@(Model.PageViewModel.PageNumber + 1)" class="btn btn-default btn">
             Вперед
             <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
        }
    </div>
</div>


