@using NewsBlog.Models.Entities
@model Article
@{

    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="news-block">
                <div class="col-md-12">
                    <h3>@Model.ShortDiscription</h3>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="news-img"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-12">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-6 .btn-div">
         <a href="/?page=@ViewBag.NewsPage" class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>     
    </div>
</div>


